In [1]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('../Lung/Output_7/peptide_level_filtered.csv')

In [46]:
df = df[['Protein.Group','Modified.Sequence','Oxygen']].drop_duplicates()

In [47]:
df.shape

(36294, 3)

In [48]:
df2 = pd.read_csv('../Lung/Output_7/peptide_fit.csv', index_col=0)

In [49]:
df2.head()

  Protein.Group        Genes  Oxygen        Kd     Kd_pvalue  Half_life
1        A1L314  MPEG1_MOUSE      60  0.447892  1.658343e-03   1.547576
2        A2A432  CUL4B_MOUSE       8  0.334051  7.405288e-50   2.074973
3        A2A432  CUL4B_MOUSE      21  0.276092  1.210739e-26   2.510568
4        A2A432  CUL4B_MOUSE      60  0.220124  2.687016e-11   3.148889
5        A2A4P0   DHX8_MOUSE       8  0.052059  2.433770e-07  13.314577

In [50]:
df_sub = df[[i in df2['Protein.Group'].values for i in df['Protein.Group'].values]]

In [51]:
df_sub_clp = df_sub[['Protein.Group','Modified.Sequence']].drop_duplicates()

In [52]:
df_sub8 = df_sub[df_sub.Oxygen == 8]
df_sub8 = df_sub8[[i in df2[df2.Oxygen==8]['Protein.Group'].values for i in df_sub8['Protein.Group'].values]]

df_sub21 = df_sub[df_sub.Oxygen == 21]
df_sub21 = df_sub21[[i in df2[df2.Oxygen==21]['Protein.Group'].values for i in df_sub21['Protein.Group'].values]]

df_sub60 = df_sub[df_sub.Oxygen == 60]
df_sub60 = df_sub60[[i in df2[df2.Oxygen==60]['Protein.Group'].values for i in df_sub60['Protein.Group'].values]]

Let's count peptides

In [59]:
ttct = df_sub_clp.groupby('Protein.Group').count()

In [60]:
print(sum(ttct.values < 3)[0])
print(sum(ttct.values <= 5)[0]-sum(ttct.values < 3)[0])
print(sum(ttct.values > 5)[0])
print(ttct.shape[0])

1909
1237
1016
4162